# How to be Choosy: Toxic Release Inventory 2023 - CA
_by Michelle Hoda Wilkerson_

<div class="alert alert-block alert-info"> <b>NOTE:</b> This notebook is written to illustrate the data wrangling moves described in [anonymized manuscript], using a dataset about toxic release events in California as reported by the U. S. Environmental Protection Agency in the 2023 (see <a href="#about">here</a> for more information). Some of the text below is excerpted from the manuscript. Each section below corresponds to a subheading in the manuscript. See also How to be Choosy: Billboard Hot 100. </div>

With any Jupyter notebook, we begin by importing the necessary libraries. Here, we are using the `pandas` library, an industry standard that provides us with special methods for reading in and working with data in Python.

In [69]:
import pandas

# if there are more than 10 records to show in a table, only show the first and last 5
pandas.set_option('display.max_rows', 10)

Next, we load the dataset. Below, in the first line of code, we read the csv file into a variable called `source.` Next, we use the `pandas` library to process this information and turn it into a data frame called tri23ca. The last line, which just says tri23ca, will give a brief summary of the contents of the dataframe so you can check and make sure it has been read and processed correctly. Since there are too many cases to list, you will see the first five rows and the last five rows of the dataset, with "..." in the middle to indicate there are more cases that are not shown.

In [70]:
tri23ca = pandas.read_csv("tri23ca.csv") # read the contents of tri23ca.csv into a dataframe
tri23ca # show us the contents of the new data frame

,Year,Trifd,Frs id,Facility name,Street address,City,County,St,Zip,Bia,...,Energy recover on,Energy recover of,Recycling on site,Recycling off sit,Treatment on site,Treatment off site,Production waste,One-time release,Prod_ratio_or_ activity,Production ratio
0,2023,93307KRNLRRR677,110000481611,KERN ENERGY,7724 EAST PANAMA LANE,BAKERSFIELD,KERN,CA,93307,NaN,...,0.0,0.0,0.0,0.0,4.6,0.0,12.600,NaN,PRODUCTION,1.02
1,2023,93033KSRLM1001M,110000481318,ALUMINUM PRECISION PRODUCTS INC.,1001 MC WANE BLVD,OXNARD,VENTURA,CA,93033,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,52.970,NaN,PRODUCTION,1.00
2,2023,9000WLDCNT5855H,110043694856,OLD COUNTRY MILLWORK INC.,5855 HOOPER AVE,LOS ANGELES,LOS ANGELES,CA,90001,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,754.880,NaN,PRODUCTION,1.00
3,2023,95482LSNPC850HO,110064125682,MENDOCINO FOREST PRODUCTS CO. LLC,880 KUNZLER RANCH RD,UKIAH,MENDOCINO,CA,95482,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,18.390,NaN,PRODUCTION,1.10
4,2023,9567WWLBRL841WE,110070203035,WILBUR ELLIS CO LLC RIO LINDA HUB,841 W ELKHORN BLVD,RIO LINDA,SACRAMENTO,CA,95673,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,NaN,ACTIVITY,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3477,2023,90241KFFBR8247P,110000474424,K F FIBERGLASS INC,8247 PHLOX ST,DOWNEY,LOS ANGELES,CA,90241,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,6850.000,NaN,PRODUCTION,0.57
3478,2023,92121FRZPN6625M,110000478885,SHERWIN-WILLIAMS CO,6625 MIRAMAR RD,SAN DIEGO,SAN DIEGO,CA,92121,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1104.000,NaN,PRODUCTION,0.99
3479,2023,94553SHLLL3485P,110000483245,MARTINEZ REFINING CO LLC,3485 PACHECO BLVD,MARTINEZ,CONTRA COSTA,CA,94553,NaN,...,0.0,0.0,0.0,0.0,39000.0,0.0,39004.002,NaN,PRODUCTION,0.82
3480,2023,90723PRMNT14700,110000475940,AIR PRODUCTS MANUFACTURING LLC,14700 DOWNEY AVE,PARAMOUNT,LOS ANGELES,CA,90723,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,56.540,NaN,PRODUCTION,0.35
3481,2023,9582WTHTCH8625U,110070244745,THATCHER CO OF CALIFORNIA,8625 UNSWORTH AVE,SACRAMENTO,SACRAMENTO,CA,95828,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,57.000,NaN,PRODUCTION,0.68

At the bottom of the output from our code above, we can see the specific dimensions of this dataset. It has 3482 cases (rows), and 122 attributes (columns). Below, we model the different wrangling strategies described in _How to be Choosy_ to reduce the size and/or complexity of the `tri23ca` dataset so that it is more appropriate for different educational applications.

# Wrangling Too Many Cases

## Random Selection

Random selection extracts random rows from a large dataset to create one of a more manageable size. This is the most appropriate strategy for downsizing a dataset while preserving a representative snapshot of the full phenomenon to be studied. Starting with your dataframe, you can create a random selection from that dataframe using the sample() method. Below, we select exactly 100 random cases from the `tri23ca` dataset and save them as a new reduced dataset called minitri23ca. If you run the code more than once, you will see that different cases are included in the dataset output each time.

In [71]:
minitri23ca = tri23ca.sample(100) # put a randomly selected 5000 rows in bh100reduced
minitri23ca

,Year,Trifd,Frs id,Facility name,Street address,City,County,St,Zip,Bia,...,Energy recover on,Energy recover of,Recycling on site,Recycling off sit,Treatment on site,Treatment off site,Production waste,One-time release,Prod_ratio_or_ activity,Production ratio
2695,2023,90670MRCNP14722,110000475655,AMERICAN POLYMERS CORP DBA POLYCOAT PRODUCTS,14722 SPRING AVE,SANTA FE SPRINGS,LOS ANGELES,CA,90670,NaN,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,NaN,0.00
378,2023,90748NNPCF2402E,110000746658,ULTRAMAR INC WILMINGTON REFINERY,2402 E. ANAHEIM STREET,WILMINGTON,LOS ANGELES,CA,90744,NaN,...,34000.0,1.0,0.0,0.00,0.00,1288.0,36813.10,NaN,PRODUCTION,1.10
905,2023,95826PRCTR8201F,110017423448,PROCTER & GAMBLE MFG. CO.,8201 FRUITRIDGE RD,SACRAMENTO,SACRAMENTO,CA,95826,NaN,...,0.0,0.0,0.0,2492.70,0.00,0.0,252391.70,NaN,PRODUCTION,0.98
244,2023,90670PFNCX9215S,110000475673,P.F.I. INC,9215 SANTA FE SPRINGS RD.,SANTA FE SPRINGS,LOS ANGELES,CA,90670,NaN,...,0.0,0.0,0.0,0.00,0.00,0.0,250.00,NaN,PRODUCTION,1.00
549,2023,91745LLFST152DN,110040867407,ALLFAST FASTENING SYSTEMS LLC,15200 DON JULIAN RD,CITY OF INDUSTRY,LOS ANGELES,CA,91745,NaN,...,0.0,0.0,0.0,2283.33,15735.06,0.0,18185.19,NaN,PRODUCTION,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2974,2023,95630GLNTT91BLU,110000902925,AGILENT TECHNOLOGIES INC,91 BLUE RAVINE RD,FOLSOM,SACRAMENTO,CA,95630,NaN,...,0.0,35014.0,0.0,0.00,0.00,540.0,35984.00,NaN,PRODUCTION,0.70
2870,2023,90744LTRMR961LA,110000476057,ULTRAMAR INC. MARINE TERMINAL,961 LA PALOMA ST,WILMINGTON,LOS ANGELES,CA,90744,NaN,...,0.0,0.0,0.0,0.00,0.00,0.0,1.00,NaN,PRODUCTION,1.21
2871,2023,90749RCPRD1801E,110017428988,TESORO LOS ANGELES REFINERY-CARSON OPERATIONS,24696 S WILMINGTON AVE,CARSON,LOS ANGELES,CA,90745,NaN,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,NaN,ACTIVITY,0.89
645,2023,94572NCLSNOLDHI,110000483487,PHILLIPS 66 RODEO RENEWABLE ENERGY COMPLEX,1380 SAN PABLO AVE,RODEO,CONTRA COSTA,CA,94572,NaN,...,0.0,0.0,0.0,0.00,0.00,0.0,1.00,NaN,PRODUCTION,0.90
189,2023,93502CLFRN9350O,110017431233,CALPORTLAND CO MOJAVE PLANT,9350 OAK CREEK RD,MOJAVE,KERN,CA,93501,NaN,...,0.0,0.0,0.0,0.00,0.00,0.0,35.17,NaN,PRODUCTION,1.00

A related technique is interpolated selection, or selecting every <i>n</i>th row of a data table. This might be useful when the order of the data matters (for example, if records are organized by date and you are interested in modeling patterns over time). However, we do not recommend interpolated selection unless you have a specific reason for using this method, because it can also lead to unintentionally non-random sampling.

In [72]:
minitri23ca = tri23ca.iloc[::30, :] # put every 30th row of tri23ca in minitri23ca
minitri23ca

,Year,Trifd,Frs id,Facility name,Street address,City,County,St,Zip,Bia,...,Energy recover on,Energy recover of,Recycling on site,Recycling off sit,Treatment on site,Treatment off site,Production waste,One-time release,Prod_ratio_or_ activity,Production ratio
0,2023,93307KRNLRRR677,110000481611,KERN ENERGY,7724 EAST PANAMA LANE,BAKERSFIELD,KERN,CA,93307,NaN,...,0.0,0.0,0.0,0.0,4.6,0.00,12.600,NaN,PRODUCTION,1.02
30,2023,90224WNSCR1501N,110009536421,OWENS CORNING ROOFING & ASPHALT LLC,1501 N TAMARIND AVE,COMPTON,LOS ANGELES,CA,90222,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.0,NaN,0.00
60,2023,95012LTRPR11225,110025317707,FUJIFILM ULTRA PURE SOLUTIONS INC.,11225 COMMERCIAL PKWY,CASTROVILLE,MONTEREY,CA,95012,NaN,...,0.0,0.0,0.0,8503.0,0.0,0.00,8562.000,NaN,PRODUCTION,1.10
90,2023,90245CHVRN324WE,110002899908,CHEVRON PRODUCTS CO. DIV OF CHEVRON USA INC.,324 W EL SEGUNDO BLVD,EL SEGUNDO,LOS ANGELES,CA,90245,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,3769.000,NaN,PRODUCTION,0.91
120,2023,92113RCSND2295E,110000478830,TESORO - SAN DIEGO TERMINAL,2295 HARBOR DR,SAN DIEGO,SAN DIEGO,CA,92113,NaN,...,0.0,0.0,15000.0,0.0,0.0,0.00,15250.000,NaN,ACTIVITY,0.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3360,2023,9264WCMBRM581SK,110033625977,CAMBRO MANUFACTURING CO SKYLAB RD. FACILITY,5801 SKYLAB RD.,HUNTINGTON BEACH,ORANGE,CA,92647,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,0.002,NaN,PRODUCTION,0.99
3390,2023,92054HYDRN401JO,110000478634,HYDRANAUTICS,401 JONES RD,OCEANSIDE,SAN DIEGO,CA,92058,NaN,...,0.0,0.0,0.0,28211.0,0.0,1625287.48,1654790.000,NaN,PRODUCTION,0.90
3420,2023,90502RDMNQ198NR,110000902630,REDMAN EQUIPMENT & MANUFACTURING CO,19800 NORMANDIE AVE,TORRANCE,LOS ANGELES,CA,90502,NaN,...,0.0,0.0,0.0,2398.0,0.0,0.00,2491.000,NaN,PRODUCTION,0.22
3450,2023,94572NCLSNOLDHI,110000483487,PHILLIPS 66 RODEO RENEWABLE ENERGY COMPLEX,1380 SAN PABLO AVE,RODEO,CONTRA COSTA,CA,94572,NaN,...,0.0,0.0,0.0,0.0,1832.0,0.00,1881.000,NaN,PRODUCTION,0.90
3480,2023,90723PRMNT14700,110000475940,AIR PRODUCTS MANUFACTURING LLC,14700 DOWNEY AVE,PARAMOUNT,LOS ANGELES,CA,90723,NaN,...,0.0,0.0,0.0,0.0,0.0,0.00,56.540,NaN,PRODUCTION,0.35

## Purposeful Selection by Attribute(s)

Purposeful selection involves reducing a dataset so that it only includes records with certain characteristics related to one or more attributes. This method is appropriate if you suspect that the majority of records in your too-large dataset are not useful or usable for your intended activity. To get all the cases in a dataframe that meet certain conditions, use the expression dataframe[condition]. Below, we want only the toxic releases that involved known carcinogens, represented in tri23ca by records where the ‘Carcinogen’ value is set to YES.

In [73]:
carcinogens = tri23ca['Carcinogen']=="YES"  # for each song, see if the highest position was 1
minitri23ca = tri23ca[carcinogens]              # put only top song records in the reduced dataset
minitri23ca

,Year,Trifd,Frs id,Facility name,Street address,City,County,St,Zip,Bia,...,Energy recover on,Energy recover of,Recycling on site,Recycling off sit,Treatment on site,Treatment off site,Production waste,One-time release,Prod_ratio_or_ activity,Production ratio
0,2023,93307KRNLRRR677,110000481611,KERN ENERGY,7724 EAST PANAMA LANE,BAKERSFIELD,KERN,CA,93307,NaN,...,0.0,0.0,0.00,0.0,4.60,0.0,12.600,NaN,PRODUCTION,1.02
7,2023,9190WBLVRD2463R,110060258590,US CBP BOULEVARD BORDER PATROL STATION #CA11560,2463 RIBBONWOOD ROAD,BOULEVARD,SAN DIEGO,CA,91905,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,2101.000,NaN,ACTIVITY,1.01
8,2023,90222DMNNK2000N,110000474353,DEMENNOKERDOON DBA WORLD OIL RECYCLING,2000 NORTH ALAMEDA STREET,COMPTON,LOS ANGELES,CA,90222,NaN,...,0.0,426.3,41123.43,0.0,13.84,0.0,41563.653,NaN,PRODUCTION,1.05
10,2023,9325WGFPTH1174R,110064544907,GFP ETHANOL LLC DBA CALGREN RENEWABLE FUELS,11704 ROAD 120,PIXLEY,TULARE,CA,93256,NaN,...,0.0,0.0,0.00,0.0,25588.61,0.0,30254.570,NaN,PRODUCTION,0.63
11,2023,9453WSLYND477KA,110035441108,TESLA INC.,47700 KATO ROAD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.00,54653.0,0.00,0.0,58115.000,NaN,PRODUCTION,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,2023,90801LNZNC20851,110000476280,SOLVAY USA INC,20851 S SANTA FE AVE,LONG BEACH,LOS ANGELES,CA,90810,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000,0.0,NaN,0.00
3473,2023,90040FDRLP6001S,110009527805,THE NEWARK GROUP INC. DBA GREIF INC.,6001 S EASTERN AVE,LOS ANGELES,LOS ANGELES,CA,90040,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,5.427,NaN,PRODUCTION,0.61
3475,2023,93420NCLSN2555W,110000481755,PHILLIPS 66 CO-SANTA MARIA REFINERY,2555 WILLOW RD,ARROYO GRANDE,SAN LUIS OBISPO,CA,93420,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,0.053,NaN,ACTIVITY,0.46
3477,2023,90241KFFBR8247P,110000474424,K F FIBERGLASS INC,8247 PHLOX ST,DOWNEY,LOS ANGELES,CA,90241,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,6850.000,NaN,PRODUCTION,0.57
3480,2023,90723PRMNT14700,110000475940,AIR PRODUCTS MANUFACTURING LLC,14700 DOWNEY AVE,PARAMOUNT,LOS ANGELES,CA,90723,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,56.540,NaN,PRODUCTION,0.35

## Building Your Own Selection Attribute

There are other ways of creating a smaller dataset based on information that is not already available in the dataset itself. These could be specific cases that you identify manually, or cases you might identify using computer code to extract some new, meaningful information from the attributes you already have. These techniques allow teachers and students the most customization, but they require careful planning to select and identify which cases should be included and to consider how those decisions will shape what analyses and claims are appropriate.

### By Identifying Specific Indices

Sometimes, you may want to create a small dataset through manually selecting a small number of cases from a larger data corpus. This can be helpful, for example, if you would like students to work with a small set of familiar cases before diving into larger-scale analyses. The Billboard Hot 100 notebook shows an example of how you might build a list of the ID numbers or _indices_ of the cases you want to include. Below, we create a dataset by directly searching for certain words, in order to create a dataset that includes records from facilities that are directly mentioned in the fifth paragraph of [this 2023 CalMatters article](https://calmatters.org/environment/2023/12/california-hazardous-toxic-waste-mexico/). These facilities are presented as examples of some of the many California-based facilities that export their waste to recycling facilities in Mexico.

In [74]:
# use the lines below to create a list of all the records with Facility names
# the plus sign attaches lists of records for each keyword together into one list

mentionedFacilities =  tri23ca['Facility name'].str.contains("SHERWIN") + tri23ca['Facility name'].str.contains("NAVY") + tri23ca['Facility name'].str.contains("TESLA")
minitri23ca = tri23ca[mentionedFacilities]
minitri23ca # show the full records

,Year,Trifd,Frs id,Facility name,Street address,City,County,St,Zip,Bia,...,Energy recover on,Energy recover of,Recycling on site,Recycling off sit,Treatment on site,Treatment off site,Production waste,One-time release,Prod_ratio_or_ activity,Production ratio
11,2023,9453WSLYND477KA,110035441108,TESLA INC.,47700 KATO ROAD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.0,54653.0,0.0,0.0,58115.00,NaN,PRODUCTION,1.25
155,2023,9453WSLYND477KA,110035441108,TESLA INC.,47700 KATO ROAD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.0,102525.0,0.0,0.0,115524.81,NaN,PRODUCTION,1.25
187,2023,90745LDQKR21243,110000476119,SHERWIN-WILLIAMS CO,12401 INDUSTRIAL BLVD,VICTORVILLE,SAN BERNARDINO,CA,92395,NaN,...,0.0,1962.0,0.0,0.0,0.0,159.0,2329.00,NaN,PRODUCTION,0.81
299,2023,93042SNVYN311MA,110022811554,U.S. NAVY NBVC NAVAL AIR STATION POINT MUGU,311 MAIN RD SUITE #1,POINT MUGU,VENTURA,CA,93042,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2.50,NaN,PRODUCTION,1.00
340,2023,94538NWNTD45500,110000482898,TESLA INC,45500 FREMONT BLVD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,75454.0,0.0,37723.0,0.0,0.0,187368.20,NaN,PRODUCTION,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,2023,94538NWNTD45500,110000482898,TESLA INC,45500 FREMONT BLVD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,56382.20,NaN,PRODUCTION,1.25
3343,2023,9533WTSLNC1826H,110038078237,TESLA INC,18260 HARLAN RD,LATHROP,SAN JOAQUIN,CA,95330,NaN,...,0.0,0.0,0.0,1884.5,0.0,0.0,1888.32,NaN,PRODUCTION,1.68
3416,2023,94538NWNTD45500,110000482898,TESLA INC,45500 FREMONT BLVD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.0,124864.5,0.0,0.0,124874.50,NaN,PRODUCTION,1.25
3447,2023,94538NWNTD45500,110000482898,TESLA INC,45500 FREMONT BLVD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,103600.00,NaN,PRODUCTION,1.25
3478,2023,92121FRZPN6625M,110000478885,SHERWIN-WILLIAMS CO,6625 MIRAMAR RD,SAN DIEGO,SAN DIEGO,CA,92121,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1104.00,NaN,PRODUCTION,0.99

### Using Code to Construct a New Attribute

In other cases, you may want to use code to systematically filter certain records for deeper analysis. Let's imagine we want to explore records where carcinogenic chemicals that are listed as hazardous under the Clean Air Act were released on-site at facilities, either as "Fugitive air" or "Stack air" releases. This requires a complex combination of conditions, which we step through one by one below.

In [89]:
# first, we can get all the records that released a Clean Air Act hazardous chemical.
searchFor = tri23ca['Clean air act chemical']=="YES" 
minitri23ca = tri23ca[searchFor]
# this yields 2123 records

# from those records that we know involve Clean Air Act chemicals, find the carcinogens.
searchFor = minitri23ca['Carcinogen']=="YES"
minitri23ca = minitri23ca[searchFor]
# this yields 729 records

# finally, let's select records where there was an air release. We'll keep the record in 
# the dataset if the amount of chemicals released as 'Fugitive air' or as 'Stack air'
# are larger than 0.
minitri23ca = minitri23ca[(minitri23ca['Fugitive air']>0) | (minitri23ca['Stack air']>0)]
minitri23ca # finally, there are a total of 554 records

,Year,Trifd,Frs id,Facility name,Street address,City,County,St,Zip,Bia,...,Energy recover on,Energy recover of,Recycling on site,Recycling off sit,Treatment on site,Treatment off site,Production waste,One-time release,Prod_ratio_or_ activity,Production ratio
0,2023,93307KRNLRRR677,110000481611,KERN ENERGY,7724 EAST PANAMA LANE,BAKERSFIELD,KERN,CA,93307,NaN,...,0.0,0.0,0.00,0.0,4.60,0.00,12.600,NaN,PRODUCTION,1.02
8,2023,90222DMNNK2000N,110000474353,DEMENNOKERDOON DBA WORLD OIL RECYCLING,2000 NORTH ALAMEDA STREET,COMPTON,LOS ANGELES,CA,90222,NaN,...,0.0,426.3,41123.43,0.0,13.84,0.00,41563.653,NaN,PRODUCTION,1.05
10,2023,9325WGFPTH1174R,110064544907,GFP ETHANOL LLC DBA CALGREN RENEWABLE FUELS,11704 ROAD 120,PIXLEY,TULARE,CA,93256,NaN,...,0.0,0.0,0.00,0.0,25588.61,0.00,30254.570,NaN,PRODUCTION,0.63
11,2023,9453WSLYND477KA,110035441108,TESLA INC.,47700 KATO ROAD,FREMONT,ALAMEDA,CA,94538,NaN,...,0.0,0.0,0.00,54653.0,0.00,0.00,58115.000,NaN,PRODUCTION,1.25
14,2023,94572NCLSNOLDHI,110000483487,PHILLIPS 66 RODEO RENEWABLE ENERGY COMPLEX,1380 SAN PABLO AVE,RODEO,CONTRA COSTA,CA,94572,NaN,...,0.0,0.0,0.00,0.0,0.00,0.00,27.000,NaN,PRODUCTION,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3456,2023,9135WRSPCD2554R,110066559067,AEROSPACE DYNAMICS INTERNATIONAL INC.,25540 RYE CANYON RD,VALENCIA,LOS ANGELES,CA,91355,NaN,...,0.0,0.0,0.00,5847.0,0.00,0.00,5856.000,NaN,PRODUCTION,0.51
3468,2023,93420NCLSN2555W,110000481755,PHILLIPS 66 CO-SANTA MARIA REFINERY,2555 WILLOW RD,ARROYO GRANDE,SAN LUIS OBISPO,CA,93420,NaN,...,0.0,0.0,0.00,0.0,0.00,55.58,59.460,NaN,ACTIVITY,0.01
3475,2023,93420NCLSN2555W,110000481755,PHILLIPS 66 CO-SANTA MARIA REFINERY,2555 WILLOW RD,ARROYO GRANDE,SAN LUIS OBISPO,CA,93420,NaN,...,0.0,0.0,0.00,0.0,0.00,0.00,0.053,NaN,ACTIVITY,0.46
3477,2023,90241KFFBR8247P,110000474424,K F FIBERGLASS INC,8247 PHLOX ST,DOWNEY,LOS ANGELES,CA,90241,NaN,...,0.0,0.0,0.00,0.0,0.00,0.00,6850.000,NaN,PRODUCTION,0.57
3480,2023,90723PRMNT14700,110000475940,AIR PRODUCTS MANUFACTURING LLC,14700 DOWNEY AVE,PARAMOUNT,LOS ANGELES,CA,90723,NaN,...,0.0,0.0,0.00,0.0,0.00,0.00,56.540,NaN,PRODUCTION,0.35

# Wrangling Too Many Attributes

Another common issue when using large public datasets for educational purposes is the problem of too many attributes. Environmental datasets such as the TRI22CA dataset we use here can include hundreds of specific indicators; survey datasets from organizations such as the Pew Research Center similarly report scores of questions per participant. While having access to so many attributes can enable the pursuit of a variety of investigative questions, it can easily become overwhelming. Working with these datasets requires planning and thoughtfulness to consider which attributes are actually connected to one's research question.

## Thematic Selection

Thematic selection involves splitting a dataset up into related, but distinct, groups of attributes that are more likely to be conceptually or statistically related to one another. Thematic attribute selection can be especially useful for jigsaw-like activities, in which different groups explore different aspects of an interconnected system. Below, we create thematic groups by information type in each toxic release report. You can then access a dataset with a reduced number of selected attributes by calling the dataframe with the attribute group name in brackets. You can include attributes from multiple groups using the plus sign: `dataframe[selection1+selection2]`. Below, we create a dataset with only the facility information and basic release information.

In [100]:
# Build our thematic categories using lists of column names
facility = ['Facility name','Federal facility']
location = ['Street address','City','County','St','Zip','Bia','Tribe','Latitude','Longitude','Horizontal datum']
company = ['Parent co name','Parent co db name','Standard parent co name','Foriegn parent co name','Foriegn parent co db num','Standard foriegn parent co name']
facilityType = ['Industry sector code','Industry sector','Primary sic','Sic 2','Sic 3','Sic 4','Sic 5','Sic 6','Primary naics','Naics 2','Naics 3','Naics 4','Naics 5','Naics 6']
filingInfo = ['Doc_ctrl_num','Form type']
basicInfo = ['Chemical','Elemental metal included','Clean air act chemical','Classification','Metal','Metal category','Carcinogen','PBT','PFAS','Unit of measure']
chemicalInfo = ['Tri chemical/compound id','Cas#','Srs id']
onSite = ['Fugitive air','Stack air','Water','Underground','Underground cl i','Underground cl ii-v','RCRA C landfill','Other landfills','Land treatment','RCRA Surface im','Other surface im','Other disposal','On-site total']
transfers = ['POTW Transfers for release','POTW Transfers for treatment','POTW Total transfers','Unclassified','Total transfer']
offSiteRelease = ['M10','M41','M62','M40 metal','M61 metal','M71','M81','M82','M72','M63','M66','M67','M64','M65','M73','M79','M90','M94','M99','Off-site release total']
offSiteRecycling = ['M20','M24','M26','M28','M93','Off-site recycled total']
offSiteRecovery = ['M56','M92','Off-site energy recovery t']
offSiteTreated = ['M40 non-metal','M50','M54','M61 non-metal','M69','M95','Off-site treated total']
toxicReleases = ['Total releases','Releases','On-site contained','Off-site other','Off-site contain','Off-site other r','Energy recover on','Energy recover of','Recycling on site','Recycling off sit','Treatment on site','Treatment off site','Production waste','One-time release','Prod_ratio_or_activity','Production ratio']

# use brackets to reference only the columns associated with one category.
minitri23ca = tri23ca[facility+basicInfo]
minitri23ca

,Facility name,Federal facility,Chemical,Elemental metal included,Clean air act chemical,Classification,Metal,Metal category,Carcinogen,PBT,PFAS,Unit of measure
0,KERN ENERGY,NO,Polycyclic aromatic compounds,NO,YES,PBT,NO,Non_Metal,YES,YES,NO,Pounds
1,ALUMINUM PRECISION PRODUCTS INC.,NO,Copper,NO,NO,TRI,YES,Elemental metals,NO,NO,NO,Pounds
2,OLD COUNTRY MILLWORK INC.,NO,Chromium and Chromium Compounds(except for ch...,YES,YES,TRI,YES,Metal complound categories,NO,NO,NO,Pounds
3,MENDOCINO FOREST PRODUCTS CO. LLC,NO,Copper And Copper Compounds,YES,NO,TRI,YES,Metal complound categories,NO,NO,NO,Pounds
4,WILBUR ELLIS CO LLC RIO LINDA HUB,NO,Chlorsulfuron,NO,NO,TRI,NO,Non_Metal,NO,NO,NO,Pounds
...,...,...,...,...,...,...,...,...,...,...,...,...
3477,K F FIBERGLASS INC,NO,Styrene,NO,YES,TRI,NO,Non_Metal,YES,NO,NO,Pounds
3478,SHERWIN-WILLIAMS CO,NO,Zinc compounds,NO,NO,TRI,YES,Metal complound categories,NO,NO,NO,Pounds
3479,MARTINEZ REFINING CO LLC,NO,Diethanolamine,NO,YES,TRI,NO,Non_Metal,NO,NO,NO,Pounds
3480,AIR PRODUCTS MANUFACTURING LLC,NO,Benzene,NO,YES,TRI,NO,Non_Metal,YES,NO,NO,Pounds
3481,THATCHER CO OF CALIFORNIA,NO,Methanol,NO,YES,TRI,NO,Non_Metal,NO,NO,NO,Pounds

## Pattern-Driven Selection

In [106]:
# Let's limit our dataset to attributes that encourage students to explore relationships
# between categorical variables
toExplore = ['Facility name',
             'City',
             'Clean air act chemical',
             'Carcinogen',
             'PBT',
             'PFAS']
minitri23ca = tri23ca[toExplore]
minitri23ca

,Facility name,City,Clean air act chemical,Carcinogen,PBT,PFAS
0,KERN ENERGY,BAKERSFIELD,YES,YES,YES,NO
1,ALUMINUM PRECISION PRODUCTS INC.,OXNARD,NO,NO,NO,NO
2,OLD COUNTRY MILLWORK INC.,LOS ANGELES,YES,NO,NO,NO
3,MENDOCINO FOREST PRODUCTS CO. LLC,UKIAH,NO,NO,NO,NO
4,WILBUR ELLIS CO LLC RIO LINDA HUB,RIO LINDA,NO,NO,NO,NO
...,...,...,...,...,...,...
3477,K F FIBERGLASS INC,DOWNEY,YES,YES,NO,NO
3478,SHERWIN-WILLIAMS CO,SAN DIEGO,NO,NO,NO,NO
3479,MARTINEZ REFINING CO LLC,MARTINEZ,YES,NO,NO,NO
3480,AIR PRODUCTS MANUFACTURING LLC,PARAMOUNT,YES,YES,NO,NO
3481,THATCHER CO OF CALIFORNIA,SACRAMENTO,YES,NO,NO,NO

## Question-Driven Selection

what percent of toxic chemicals are taken off site

In [108]:
toExplore = ['Facility name',
             'City',
             'Off-site contain',
             'Energy recover of',
             'Recycling off sit',
             'Treatment off site',
             'Total releases'] 

minitri23ca = tri23ca[toExplore]
minitri23ca

,Facility name,City,Off-site contain,Energy recover of,Recycling off sit,Treatment off site,Total releases
0,KERN ENERGY,BAKERSFIELD,0.000,0.0,0.0,0.0,8.000
1,ALUMINUM PRECISION PRODUCTS INC.,OXNARD,52.945,0.0,0.0,0.0,52.970
2,OLD COUNTRY MILLWORK INC.,LOS ANGELES,754.880,0.0,0.0,0.0,754.880
3,MENDOCINO FOREST PRODUCTS CO. LLC,UKIAH,18.390,0.0,0.0,0.0,250.000
4,WILBUR ELLIS CO LLC RIO LINDA HUB,RIO LINDA,0.000,0.0,0.0,0.0,0.000
...,...,...,...,...,...,...,...
3477,K F FIBERGLASS INC,DOWNEY,0.000,0.0,0.0,0.0,6850.000
3478,SHERWIN-WILLIAMS CO,SAN DIEGO,966.620,0.0,0.0,0.0,1104.000
3479,MARTINEZ REFINING CO LLC,MARTINEZ,0.000,0.0,0.0,0.0,4.002
3480,AIR PRODUCTS MANUFACTURING LLC,PARAMOUNT,0.540,0.0,0.0,0.0,56.540
3481,THATCHER CO OF CALIFORNIA,SACRAMENTO,0.000,0.0,0.0,0.0,57.000

# About the Billboard Hot 100 Dataset <a id='about'></a>

This dataset includes every song that's ever appeared on the Billboard Hot 100 Charts (August 1958-May 2021). Only some of the available attributes are initially shown. Use the "attributes" tab in the "Choosy" window to select which attributes or attribute groups to show and hide.

### About the Attribute Groups
Each record includes Basic Info such as the Song Name, Performer, the Month and Year released; Popularity measures such as the song's highest Billboard position and the number of weeks the song stayed on the the Hot 100 list; and a list of the Genre(s) represented by the song. When available, each song record also includes information scraped from Spotify including the Spotify ID, URL, and popularity on the Spotify app. A number of Spotify-generated measures of musical features are described in Performance Features exploring the song's "speechiness," "liveness," and other inferred performance features; Emotion Features exploring inferred features such as the song's energy level and valence; and Sound Features such as the song's tempo, time signature, and loudness. 

### About the Attributes
Song Name
Performer
Year Released
*Highest BH100 Position* was computed this from "Hot Stuff" database using min position listing for this SongID
Spotify Popularity
*Danceability* describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
*Energy* is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.
*Loudness* of a track is measured in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.
*Speechiness* detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.
*Valence* is a measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
*Tempo* is estimated in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.

### History and Purpose
This dataset was initially imported into CODAP in Summer 2022 for a teacher workshop assosicated with the Writing Data Stories project (DGE-2430522). It was updated in Spring 2023, and is being used as part of the Writing Data Stories project and the City University of New York's Computing Integrated Teacher Education (CUNY CITE) program. 

### Data Sources and Data Cleaning
This dataset was constructed by Sean Miller (github handle: HipsterVizData) using APIs to download Billboard Hot 100 (BH100) and Spotify (S) data. The full dataset and additional information about its original construction can be accessed at this link. Michelle Wilkerson of the WDS team  merged the two tables in the dataset by mapping the BH100 Song Name attribute to the Spotify SongID, removing all Spotify records that did not have a corresponding BH100 entry but retaining BH100 songs that did not have corresponding Spotify entries. Michelle imported attribute descriptions from the original dataset, editing a few descriptions for readability at the middle school level, consolidated music genres into 7 major genre flags while retaining the full genre list as a separate attribute; and removed several attributes for simplicity. Michelle also grouped Spotify-generated song features into three categories (Performance, Emotion, and Sound Features) visible in the "Choosy" menu.